[submodule "hugo-theme-gruvbox"]
	path = hugo-theme-gruvbox
	url = https://github.com/schnerring/hugo-theme-gruvbox
[submodule "themes/gruvbox"]
	path = themes/gruvbox
	url = https://github.com/schnerring/hugo-theme-gruvbox
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
